html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color:#FEFFFF;
    font-family: 'Times new roman', sans-serif;
    scroll-behavior: smooth;
}

/* Navbar Start */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFFFF; 
    padding: 10px 40px;
    color:#393343;
    position: relative; 
}

#navbar-logo {
    width: 55px;
    height: 55px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 20px;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 30px;
}

.navbar-menu li a {
    text-decoration: none; 
}

.navbar-menu li h3 {
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
    color:#393343;
    font-weight:500;
    text-decoration: none; 
}

.navbar li h3:hover {
    color:#F3B552;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.icon-container {
    background-color: #FEFFFF; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-container:hover {
    background-color:  #F3B552;
}

.icon {
    width: 20px;
    height: 20px;
}
/* Navbar End */

/* Hero Start */
.hero {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
.carousel-hero {
    display: flex;
    transition: transform 0.8s ease-in-out;
}
  
.carousel-hero img {
    width: 100%;
    height: 30%;
    flex-shrink: 0;
}
  
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius:8px;
    padding: 12px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-out
}

/* Showing the next and previous button for corousel when hovering over hero */
.hero:hover .prev{
    opacity: 1;
}

.hero:hover .next {
    opacity: 1;
}
  
.prev {
    left: 20px;
}

.next {
    right: 20px;
}
/* Hero End */
  
/* History Start */
.history {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 8px;
    padding-bottom: 30px;
}

.history h2 {
    font-size: 26px;
    color: #393343;
    font-weight:600;
    text-align: center;
}

.history h3 {
    color: #393343;
    font-weight:500;
    text-align: center;
}
/* History End */

/* Interesting Points Start */
.ip {
    display: flex;
    flex-direction: column;
    background-color: #FEFFFF;
}

.row-ip {
    display: flex;
    flex-direction: row;
}

.img-ip {
    width: 50vw;
    transition: filter 0.3s ease-in-out; 
}

.img-ip-container {
    position: relative;
}

.img-ip-container:hover .img-ip {
    filter: brightness(0.7);
}

.img-ip-container:hover #img-ip-spesific {
    filter: brightness(0.9);
}

.img-ip-text {
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEFFFF;
    top: 50%; 
    left: 50%; 
    right: 50%;
}

.img-ip-text h3{
    font-size: 34px;
}

.img-ip-text a{
    font-size: 18px;
}

#spesific-img-text {
    color: #393343;
}
/* Interesting Points End */

/* Products Start */

/* Products End */




