html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color:#FEFFFF;
    font-family: 'Times new roman', sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FEFFFF;
    border-bottom: 1px solid #ddd;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #393343;
    font-weight: bold;
}

.hero {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #EEEEEE;
}

.carousel-hero {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-hero img {
    width: 100%;
    height: 50vh; 
    object-fit: cover; 
    flex-shrink: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius:8px;
    padding: 12px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero:hover .prev {
    opacity: 1;
}

.hero:hover .next {
    opacity: 1;
}

.prev {
    left: 20px;
}


.next {
    right: 20px;
}

.hero-text {
    position: absolute;
    z-index: 1;
    padding: 20px;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 2.8em; 
    margin: 0;
}

.hero-text p {
    font-size: 1.1em; 
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #FEFFFF;
}

.product {
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd; 
    border-radius: 15px; 
    padding: 20px;
    background-color: #fff;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 15px; 
}

.product h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #393343;
}

.product p {
    font-size: 1em;
    color: #555;
}

footer {
    background-color:  #17252A;
    color: white; 
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left:  40px;
    padding-right:  40px;
    text-align: center; 
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.logo img {
    width: 75px; 
    height: 75px;
}

.social {
    display: flex; 
    flex-direction: row;
    padding-right: 30px;
    gap: 6px;
}

.social-icon-container {
    background-color: #393343;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.social-icon-container:hover {
    background-color: #F3B552;
}

.social-icon img {
    width: 28px;
    height: 28px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 130px;
    gap: 70px;
}

.footer-link {
    color: #FEFFFF; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600; 
    transition: color 0.3s ease;
}

.footer-link:hover {
    color:#F3B552;
}

.copyright {
    font-size: 17px;
    margin-top: 60px; 
    color: #666;
}

.footer-bottom {
    margin-top: 20px;
    color: #666;
}

/* Navbar Start */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFFFF; 
    padding: 10px 40px;
    color:#393343;
    position: relative; 
}

#navbar-logo {
    width: 55px;
    height: 55px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 20px;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 30px;
}

.navbar-menu li a {
    text-decoration: none; 
}

.navbar-menu li h3 {
    font-size: 22px;
    transition: color 0.3s ease;
    color:#393343;
    font-weight:500;
    text-decoration: none; 
}

.navbar li h3:hover {
    color:#F3B552;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.icon-container {
    background-color: #FEFFFF; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%; 
    transition: background-color 1s ease, transform 1s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-container:hover {
    background-color:  #F3B552;
    transform: scale(1.1);  
}

.icon {
    width: 20px;
    height: 20px;
}
/* Navbar End */

.product-image {
    position: relative;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto; 
    transition: transform 0.5s ease, opacity 0.3s ease; 
    border-radius: 15px; 
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease; 
    border-radius: 15px; 
}

.product-image:hover .main-image {
    transform: scale(1.05); 
}

.product-image:hover .hover-image {
    opacity: 1; 
    transform: scale(1.05); 
}

/* Add styles for search input */
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
}

/* Search Results */
.search-results {
    position: absolute; 
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 15px; 
    max-height: 300px; 
    overflow-y: auto;
    z-index: 1000;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
    padding: 10px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.search-results img {
    width: 50px;
    height: 50px;
    margin-right: 15px; 
    border-radius: 5px; 
}

.search-results span {
    font-size: 1em; 
    color: #F3B552; 
}

/* Add styles for the sort dropdown */
.sort-container {
    display: flex;
    justify-content: flex-end; 
    margin: 20px 50px;
}

#sort-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Tambahkan ini ke file CSS Anda */
.product-link {
    text-decoration: none; /* Menghapus garis bawah */
    color: inherit; /* Memastikan warna teks sesuai dengan elemen induknya */
}

.product-link:hover {
    color: #F3B552; /* Warna saat hover, jika diinginkan */
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .product {
        flex: 1 1 calc(33.333% - 40px); /* Adjust to 3 products per row */
    }
}

@media (max-width: 992px) {
    .product {
        flex: 1 1 calc(50% - 40px); /* Adjust to 2 products per row */
    }
}

@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        gap: 10px;
    }

    .product {
        flex: 1 1 calc(100% - 40px); /* Adjust to 1 product per row */
    }

    .hero-text h1 {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    .hero-text p {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .icons {
        justify-content: center;
        margin-top: 10px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu {
        flex-direction: column;
        gap: 20px;
    }

    .social {
        justify-content: center;
    }
}

/* Burger Menu Styles */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #393343;
    margin: 4px;
    transition: all 0.3s ease;
}

.navbar-menu.active {
    display: flex;
    flex-direction: column;
    position: static; /* Change from absolute to static */
    background-color: #FEFFFF;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease; /* Add transition for smooth sliding */
    max-height: 0; /* Initially set max-height to 0 */
    overflow: hidden; /* Hide overflow content */
}

.burger.active + .navbar-menu {
    max-height: 500px; /* Set a max-height that can accommodate the menu items */
}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .navbar-menu {
        display: none;
    }
}

/* Responsive Styles for Footer */
@media (max-width: 576px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu {
        flex-direction: column;
        gap: 20px;
    }

    .social {
        justify-content: center;
    }
}